.weather-details-ctn {
    justify-content: space-between;
    margin-top: 0.9rem;
    font-size: 0.37rem;
}

.weather-detail {
    border-radius: 0.2rem;
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0 0.2rem 0;
}

.weather-detail-icn {
    margin-bottom: 0.2rem;
    font-size: 0.55rem;
}
