.report-ctn {
    margin-top: 1.5rem;
    justify-content: space-around;
    padding: 0 0 1rem;
    align-items: center;
}

.report-icn {
    width: 4rem;
    height: 4rem;
}

.hourly-title {
    font-size: 0.6rem;
    font-weight: 400;
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
    color: lightblue;
}

.hourly-ctn {
    white-space: nowrap;
    margin: 0.4rem -0.55rem 0;
    padding: 0 0.55rem;
    overflow: scroll;
}

.hourly-ctn::-webkit-scrollbar {
    display: none;
}

.hourly-info-ctn {
    flex-wrap: wrap;
}
