.report-title {
    font-size: 0.8rem;
    font-weight: 400;
}

.report-city {
    font-size: 0.5rem;
    font-weight: 100;
    margin-top: 0.1rem;
}

.day-ctn {
    justify-content: space-between;
}

.report-date {
    font-size: 0.7rem;
    font-weight: 400;
    margin-top: 0.7rem;
    color: lightblue;
}

.click-txt.forecast {
    display: block;
    padding: 1rem 0;
}
